POSTGRES_USER=lightbulb
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=postgres

PRODUCTS_DATABASE_URL=postgresql+asyncpg://lightbulb:change_me_in_production@postgres:5432/products_db
ORDERS_DATABASE_URL=postgresql+asyncpg://lightbulb:change_me_in_production@postgres:5432/orders_db


ENVIRONMENT=development
LOG_LEVEL=INFO
