DATABASE_URL=postgresql+asyncpg://lightbulb:change_me@localhost:5432/products_db
TEST_DATABASE_URL=postgresql+asyncpg://lightbulb:change_me@localhost:5432/products_test_db
ENVIRONMENT=development
LOG_LEVEL=INFO
